@import url('https://fonts.fontself.com/gE309jx/gilbert-color-bold-preview5.css');

html
{
    scroll-behavior: smooth;
}

body
{
    background-color: #2F3435;
    font-family: "Gilbert Color", "Andale Mono", sans-serif;
    vertical-align: middle;
}

div{
    background-color: #364b4f;
    color: #e0e2de;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
    padding: 10px;
    text-align: center;
    vertical-align: auto;
    word-wrap: break-word;
}

textarea {
    width: 45%
}

#newTxt, #originalTxt
{
    font-family: "Roboto Slab", Courier, monospace;
}

#GitHub
{
    color: #e0e2de;
    width: fit-content;
}

a:link
{
    color: #e0e2de;
}

a:hover
{
    color: #2F3435;
}

a:visited
{
    color: #dee2e2;
}

button {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #364b4f;
    background-color: #364b4f;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    color:#e0e2de;
    text-align:center;
    transition: all 0.2s;
}
button:hover {
    color: #2F3435;
    background-color: #e0e2de;
}

input, textarea
{
    color: #e0e2de;
    background-color: #2F3435;
}

#topBtn
{
    animation-name: fadeIn;
    animation-duration: 2s;
    border-radius: 1%;
    font-size: xx-large;
    width: fit-content;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}

@keyframes fadeIn
{
    0% {opacity: 0}
    25% {opacity: 0.25}
    50% {opacity: 0.5}
    75%{opacity: 0.75}
    100% {opacity: 1}
}